/.mypy_cache/
/.pytest_cache
/upside_analytics.egg-info/*
/build
/dist
/pip-wheel-metadata

.coverage
.coverage.*
/cov_html/
/coverage_html_report/
pytest.log

*.pyc
*.pyo
*.c
*.so

.idea
.DS_STORE

conda.tar.gz
